<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
  
<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h2>Editar artigo</h2>
            </div>
            <div class="card-body">
                <form method="post" action="/articles/uptade">
                    <input type="hidden" name="id" value="<%= article.id %>">
                    <label for="tittulo">Título</label>
                    <input class="form-control" type="text" name="title" id="tittulo" placeholder="Defina o título da artigo" value="<%= article.title %>">
                    <textarea class="form-control mt-2" name="body" id="article" cols="20" rows="10" placeholder="Escreva o artigo aqui"></textarea>
                    <label for="cat" class="my-3">Categoria</label>
                    <select name="category" id="cat" class="form-control">
                        <option value=""></option>
                        <% categories.forEach((category) => { %>

                            <% if(category.id == article.categoryId) { %>
                                <option value="<%= category.id %>" selected ><%= category.title %></option>
                            <% } else { %>
                                <option value="<%= category.id %>" ><%= category.title %></option>
                            <% } %>

                        <% }) %>
                    </select>
                    <input type="submit" value="Atualizar" class="btn btn-success mt-3">
                </form>
            </div> 
        </div>
    </div>

    <div id="content" style="display: none;"> <%- article.body %> </div>
</body>

<%- include ('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () =>{
            tinymce.get("article").setContent(document.getElementById("content").innerHTML);//Estou colocando o conteúto da div com id="content", dentro do textarea
            $("#content").html()
        }
    })
</script>