<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
  
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h2>Editar categoria</h2>
            </div>
            <div class="card-body">
                <form method="post" action="/categories/update">
                    <label for="tittulo">Título</label>
                    <input class="form-control" type="text" name="title" id="tittulo" value="<%= category.title %>">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <input type="submit" value="Atualizar" class="btn btn-success mt-3">
                </form>
            </div> 
        </div>
    </div>

<%- include ('../../partials/footer.ejs') %>