<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
  
<div class="container">
    <h2 class="mt-4 mb-3">Usuários</h2>
    <div class="d-flex justify-content-end">
        <a href="/admin/users/create" class="btn btn-success mb-3">Criar novo usuário</a>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
            <% users.forEach(user =>{ %>
                <tr>
                    <th><%= user.id %></th>
                    <td><%= user.email %></td>
                    <td class="d-flex">
                        <a href="" class="btn btn-warning mr-2">Editar</a>

                        <form method="post" action="/users/delete" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="">
                            <button type="submit" class="btn btn-danger">Deletar</button>
                        </form>
                    </td>               
                </tr>
            <% }) %>
        </tbody>
      </table>
</div>

<%- include ('../../partials/footer.ejs') %>
<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        let decisao = confirm("Você quer deletar essa categoria?");

        if(decisao){
            form.submit();
        }
        else{
            console.log("Não escolhi deletar");
        }
    }
</script>

    